html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #CDA2DE
}

#buttonContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

#buttonContainer button {
  background-color: #7b2cbf;
  color: white;
  cursor: pointer;
}

#buttonContainer button:hover {
  background-color: #5a189a;
}
